<div class="exchange-form">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="sourceAmount">Source Amount</label>
        <input
          type="text"
          class="form-control"
          id="sourceAmount"
          formControlName="sourceAmount"
          (input)="reset()"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="sourceCurrency">Source Currency</label>
        <select
          id="sourceCurrency"
          class="form-control"
          formControlName="sourceCurrencyRate"
          (change)="reset()"
        >
          <option selected>Choose...</option>
          <option
            *ngFor="let cur of currencyList | keyvalue"
            [value]="cur.value"
          >
            {{ cur.key }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="targetAmount">Target Amount</label>
        <input
          type="text"
          class="form-control"
          id="targetAmount"
          formControlName="targetAmount"
          readonly
          style="background-color: lightgray"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="targetCurrency">Target Currency</label>
        <select
          id="targetCurrency"
          class="form-control"
          formControlName="targetCurrencyRate"
          (change)="reset()"
        >
          <option selected>Choose...</option>
          <option
            *ngFor="let cur of currencyList | keyvalue"
            [value]="cur.value"
          >
            {{ cur.key }}
          </option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary" (click)="calculate()">CONVERT</button>
  </form>
</div>
