<div>
  <input type="text" [(ngModel)]="sourceNumber" />
  <select [(ngModel)]="sourceCurrency" (change)="reset()">
    <option *ngFor="let cur of currencyList | keyvalue" [value]="cur.value">
      {{ cur.key }}
    </option>
  </select>
</div>
<div>
  <input
    type="text"
    [(ngModel)]="targetNumber"
    readonly
    style="background-color: lightgray"
  />
  <select [(ngModel)]="targetCurrency" (change)="reset()">
    <option *ngFor="let cur of currencyList | keyvalue" [value]="cur.value">
      {{ cur.key }}
    </option>
  </select>
</div>

<button
  class="btn btn-primary"
  (click)="calculate()"
  [disabled]="!sourceCurrency || !targetCurrency || !sourceNumber"
>
  CONVERT
</button>
